@import "../../styles/_responsive";
.wrapper {
  background-color: rgba(146, 233, 168, 0.5);
}

.login-page {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px);
  align-items: center;
  
}

.img-login {
  width: 600px;
  height: 500px;
  border-radius: 8px 0 0 8px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
}

.box {
  width: 380px;
  height: 500px;
  background: white;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  opacity: 1;
  @include mobile {
    width: 300px;
    height: 500px;
  }
}

.form {
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  @include mobile {
    padding: 50px 10px;
  }
  & h2 {
    color: rgb(245, 119, 119);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
  }
  .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
    @include mobile {
      width: 270px;
    }
    & input {
      border-bottom: 1px solid rgb(245, 119, 119);
      position: relative;
      width: 100%;
      padding: 20px 10px 10px;
      background: transparent;
      outline: none;
      color: white;
      // color: #cdbc7a;
      font-size: 1.6rem;
      letter-spacing: 1px;
      cursor: pointer;
      z-index: 10;
    }
    & span {
      position: absolute;
      left: 0;
      padding: 20px 10px 10px;
      font-size: 1.4rem;
      color: #06c37e;
      pointer-events: none;
      letter-spacing: 1px;
      transition: 0.5s;
    }
  }
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span {
    color: rgb(245, 119, 119);
    transform: translateX(0px) translateY(-40px);
    font-size: 1.4rem;
  }
  .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #06c37e;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  .inputBox input:valid ~ i,
  .inputBox input:focus ~ i {
    height: 44px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    .link {
      margin: 10px 0;
      font-style: 1.2rem;
      color: #06c37e;
      &:hover {
        color: rgb(245, 119, 119);
      }
      &:nth-child(2) {
        color: rgb(245, 119, 119);
      }
    }
  }
  .btn-submit {
    border: none;
    outline: none;
    background: #06c37e;
    color: white;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
  }
}
.valid-error-message {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}
